streamlit
streamlit-option-menu
streamlit-lottie
streamlit-extras
streamlit-custom-notification-box
python-docx
pandas
plotly
pillow
python-dotenv
pdfminer.six
nltk
scikit-learn
sqlalchemy
openpyxl
requests
spacy
selenium
numpy
webdriver-manager
chromedriver-autoinstaller
google-generativeai
pdf2image
pytesseract
pdfplumber
reportlab
openrouter
docx2pdf
docx2txt
python-pptx
matplotlib
seaborn
pycryptodome>=3.19.0
PyPDF2>=3.0.0
